<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- 将日志写入文件  -->
    <target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
        fileName="${basedir}/logs/${level}/${shortdate}.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

    <!-- 另一个日志，写自己的日志 -->
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/logs/${level}/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <!-- 从记录器名称映射到目标的规则 -->
  <rules>
    <!--所有日志，包括来自Microsoft的-->
    <logger name="*" minlevel="trace" writeTo="defaultlog" />

    <!--跳过非关键的Microsoft日志，因此只记录自己的日志-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!--  -->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>

</nlog>