
@{
    ViewData["Title"] = "404错误页面";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    @ViewBag.Message
</div>

